<div class="background-image ">

      <div class=main>
        <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm.value) ">
              <h2>LOGIN FORM</h2>
              <p style="color: red; text-align: center;">{{loginerrmessage}}</p>

              <input type="text" class="box" ngModel id="email" name="pemail" placeholder="Email" required />
              <br>

              <input type="text" class="box" ngModel id="password" name="ppassword" placeholder="Password" required />
              <br>

              <input type="submit" value="submit"  id="submit" />
          </form>
      </div>


</div>

